.homepage_title{
    text-align: center;
    margin-top:5%;
    margin-bottom:5%;
    color: #333;
    font-size: 3rem;
}

.homepage_image_container{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    width:80%;
    margin-left:10%;
}

.homepage_image{
    cursor:pointer;
    width:100%;
}